<div class="section-tout">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-check-square-o"></i> Easy to Use</h3>
                <p>xxx</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-paw"></i> Open Source</h3>
                <p>xxx</p>
            </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-wrench"></i> Latest Updates</h3>
                <p>xxx</p>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-cogs"></i> Feature-Rich</h3>
                <p>xxx</p>
            </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-key"></i> Secure</h3>
                <p>xxx</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-bullhorn"></i> Stay in Touch</h3>
                <p>xxx</p>
            </div>
        </div>

    </div>
</div>
