<div class="section-tout">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-check-square-o"></i> Easy to Use</h3>
                <p>Runs on top of your file system. No messing around with complex configuration and additional storage devices. Available as <a target="_blank" href="http://www.freshports.org/sysutils/pefs-kmod/">FreeBSD port</a>.</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-paw"></i> Open Source</h3>
                <p>PEFS is open source free software available under the BSD license. The project is hosted on <a target="_blank" href="https://github.com/glk/pefs">GitHub</a>.</p>
            </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-wrench"></i> Latest Updates</h3>
                <p>Current release <a href="https://github.com/glk/pefs/commits/master">2016.06.11</a>: Performance and stability improvements including shared vnode locking.</p>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-cogs"></i> Feature-Rich</h3>
                <p>Complete POSIX semantics combined with high performance make PEFS drop-in replacement that improves storage security. Used in both private and enterprise environments.</p>
            </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-key"></i> Secure</h3>
                <p>Tuned for optimal and secure operation. Only standard and up to date encryption algorithms are used. Successfully passed <a href="#publications">security audit</a>.</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <h3><i class="fa fa-bullhorn"></i> Stay in Touch</h3>
                <p>Be a part of the community by submitting a fix or reporting a bug. <a href="#contact">Follow us</a> on social networks and PEFS <a href="/blog">blog</a>.</p>
            </div>
        </div>

    </div>
</div>
